body
    #super-awesome-id
    //-#another-shit
    #agaagaaga-aga
    include ../svgiconsmodule/svgicons.pug
    include ../menumodule/menu.pug
    include components/content.pug
    include ../footermodule/footer.pug
