[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/implicit-dom-connect-sources.git
[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/implicit-dom-connect-output.git
